@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

nav{
    color: black;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right,orange,rgb(60, 168, 60));
     
}


nav .mainMenu{
    display: flex;
    text-decoration: none;
    list-style: none;
    
}
nav .mainMenu li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
   text-transform: uppercase;
   color: black;
   font-weight: 800;
   font-size: 1rem;
}

nav .mainMenu li a:hover{
    background:rgba(67, 105, 67, 0.493);
    border-radius: 4px;
    
} 
 nav .openMenu{
font-size: 2rem;
margin:20px;
display: none;
cursor: pointer;
 }
 nav .mainMenu .closeMenu , .icons a{
     font-size: 2rem;
     display: none; 
     cursor:pointer;
 }
 .icons .facebook:hover{
     color: #4267B2;
 }
 .twitter:hover{
     color:#1DA1F2;
 }
 .instagram:hover{
color: #C13584;;
 }
 .github:hover{
color: #bd2c00;
 }

 .logo{
    margin-left: 20px;
     font-size: 1.4rem;
     font-weight: 900;
     cursor: pointer;
 }
 
 .logo h1 span{
     display: inline-block;
     margin-left: -40px;
     height: 20px;
     width: 20px;
     background: rgb(0, 0, 0);
     justify-items: center;
     align-items: center;
     border-radius: 5px;
     margin-top: 14px;
     margin-left: 4px;
     border: 1px dashed rgb(66, 65, 65);
     transition: all 1s;
 }
 .logo h1 span:hover{
     height: 20px;
     width: 20px;
     transform: rotate(360deg);
     background: rgb(66, 121, 8);
     border-radius: 50%;
     border:1px dashed rgb(0, 0, 0);
 }
 .container {
  
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    justify-items: center;
  }
 .container h1{
     grid-column-start: 1;
     grid-column-end: 3;
justify-self: center;
align-self: center;
     font-size: 4.7rem;
     align-items: center;
     justify-content: center;
     text-transform: uppercase;
     background: url(color.jpg);
     background-size:contain;
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     letter-spacing: 2px;
     font-weight: 800;
     text-align: center;
 }
 .container .img{
    justify-self: center;
    align-self:center;
  
 }

 .img-one{
     margin-left: 120px;
 }
.img-two{
    margin-right: 120px;
}
.img-three{
    margin-left: 120px;
}
.img-four{
    margin-right: 120px;
}
.img .para{
    justify-self: center;
    font-weight: 600;
    color: black;
}

 @media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(to right ,orange,green);
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        font-size: 1.6rem;
    }
    .icons a{
        display: inline-block;
        padding: 12px;
    }
    .container {
  
        height: 100vh;
        width: 100%;
       display: inline-block;
      }
      .container h1{
          font-size: 3rem;
      }
.img-one{
   align-self: center;
   justify-content: center;
   align-items: center;
   margin: 10px 250px;
}
.img-two{
   align-self: center;
   justify-content: center;
   align-items: center;
   margin: 10px 250px;
}
.img-three{
   align-self: center;
   justify-content: center;
   align-items: center;
   margin: 10px 250px;
}
.img-four{
   align-self: center;
   justify-content: center;
   align-items: center;
   margin: 10px 250px;
}
}
@media(max-width: 637px){

    .img-one{
        
        margin: 10px 150px;
     }
     .img-two{
     
        margin: 10px 150px;
     }
     .img-three{
      
        margin: 10px 150px;
     }
     .img-four{
    
        margin: 10px 150px;
     }
}
@media(max-width: 500px){

    .img-one{
        
        margin: 10px 100px;
     }
     .img-two{
     
        margin: 10px 100px;
     }
     .img-three{
      
        margin: 10px 100px;
     }
     .img-four{
    
        margin: 10px 100px;
     }
}









